global:
  scrape_interval: {{ scrape_interval }}
  evaluation_interval: {{ evaluation_interval }}

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['{{ node_exporter_host }}:9100']
